@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  background-color: #ffffff;
}

.page-container {
  flex-grow: 1;
}

/*  Navigation  */

.main-navigation {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.navigation-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 238px;
  width: 450px;
}


.navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: auto;
  height: 2px;
  top: 63px;
  left: 16px;
  right: 16px;
  z-index: 1;
  background-color: #756257;
}

.user-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  max-width: 130px;
  display: flex;
  align-items: center;
}

.search {
  display: block;
  background: url("../images/icons/search.svg") left no-repeat;
  width: 20px;
  height: 20px;
}

.heart {
  display: block;
  background: url("../images/icons/heart.svg")left no-repeat;
  width: 18px;
  height: 17px;

}

.nav-button {
  display: block;
  margin-left: 20px;
  margin-right: 70px;
  padding: 8px 34px;
  width: 160px;
  min-height: 36px;
  background-color: #756157;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  border-radius: 4px;
}

/*  Hero  */

.hero {
  background: url("../images/hero-background.jpg") center no-repeat;
  background-size: 1200px 485px;
  padding: 51px 371px 82px;
  position: relative;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.hero::after {
  content: url("../images/background-hero.svg");
  position: absolute;
  top: 428px;
  left: 0;
  z-index: 1;
}

/*  Section review  */

.section-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.review-sedona {
  min-height: 261px;
  margin-bottom: 21px;
}

.review-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.review-sedona .review-title {
  max-width: 620px;
}

.review-title.white {
  color: #ffffff;
}

.review-text {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

/*  Section advantages  */

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  align-items: center;
}

.advantages-item-image {
  width: 800px;
}

.advantages-item-image img {
  display: block;
}

.item-container {
  margin: 0 auto;
  width: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container p {
  margin: 0;
}

.item-title {
  margin: 0;
  margin-bottom: 62px;
  max-width: 172px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.item-container::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.item-container.white::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 85px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
}


.item-title.white {
  color: #ffffff;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item.blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

/*  Section services  */

.review-services {
  min-height: 246px;
}

.review-services .review-title {
  max-width: 505px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
}

.services-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: space-around;
}

.services-container {
  width: 230px;
  min-height: 223px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-container p {
  margin: 0;
  white-space: break-spaces;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-icon {
  display: block;
  align-self: center;
  margin-bottom: 30px;
}

.item-title.services {
  margin-bottom: 30px;
}

/*  Section hotel-look  */

.hotel-look {
  min-height: 406px;
}

.review-hotel-text {
  max-width: 592px;
  white-space: break-spaces;
  margin-bottom: 54px;
}

.search-button {
  display: block;
  width: 376px;
  min-height: 52px;
  margin: 0 auto;
  /*padding: 8px 40px;*/
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}

/*  Section subscribe  */

.subscribe {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe .review-title {
  margin-top: 96px;
}

.subscribe .review-text {
  max-width: 475px;
  margin-bottom: 54px;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscribe-field {
  width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border-width: 0;
}

.subscribe-button {
  min-width: 232px;
  min-height: 52px;
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border-width: 0;
}

/*  Footer  */

.page-footer {
  margin: 40px 70px 30px;
  width: 1060px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 142px;
  max-height: 40px;
}


.social-vkontakte {
  display: inline-block;
  width: 47px;
  height: 40px;
  background: url("../images/icons/vkontakte.svg") center no-repeat;
}

.social-telegram {
  display: inline-block;
  width: 47px;
  height: 40px;
  background: url("../images/icons/telegram.svg") center no-repeat;
}

.social-youtube {
  display: inline-block;
  width: 47px;
  height: 40px;
  background: url("../images/icons/youtube.svg") center no-repeat;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


.html-academy-logo {
  margin: 0;
  padding: 0;
  width: 115px;
  height: 33px;
}

/*  <--- Catalog page ---> */

.filter {
  display: block;
  width: 1200px;
  height: 412px;
  background: url("../images/filter-background.jpg") center no-repeat;
  color: #ffffff;
}

.filter-container {
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  width: 114px;
  height: 21px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-link.home {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/icons/home.svg") center no-repeat;
}

.breadcrumbs-link.arrow {
  display: block;
  width: 6.39px;
  height: 9.94px;
  background: url("../images/icons/arrow.svg")
center no-repeat;
}

.legend-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-left {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-right {
  width: 549px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-price {
  width: 288px;
  display: flex;
  flex-direction: row;
}

.price-number {
  width: 143px;
}

.filter-submit-button {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-reset-button {
  width: 191px;
  height: 36px;
  background-color: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.select-options {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-result {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-list {
  margin: 0;
  padding: 0;
  width: 1060px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-text {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.product-card-buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.product-button-more {
  width: 140px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #756157;
  text-align: center;
  text-transform: uppercase;
}

.product-button-favorite {
  width: 140px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
}

.product-button-favorite.active {
  background-color: #7DB54F;
}

.product-rating {
  width: 300px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.rating-stars {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rating-stars.three {
  display: block;
  margin-left: -24px;
}

.rating-stars.two {
  display: block;
  margin-left: -48px;
}

.rating-number {
  display: block;
  width: 140px;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  margin: 0;
  padding: 0;
  width: 1060px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: flex-start;

}

.pagination-item {
  margin-right: 8px;
  display: block;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item.ellipsis {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link.current {
  color: #000000;
}



